* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #FAF5F0;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 40px;
    color: #D6AEBA;
}

h2 {
    color: #D6AEBA;
}

p {
    font-family: 'Poppins', sans-serif;
    color: #111F32;
}

a {
    font-family: 'Poppins', sans-serif;
    color: #6A7152;
}

/* Styling the header */
header {
    padding: 20px 40px;
    background-color: #FAF5F0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    color: #D6AEBA;
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 25px;
    font-size: 2vw;
}

header a {
    text-decoration: none;
    font-weight: bold;
}

header nav ul li {
    display: inline;
}

/* Styling the hero */
.hero {
    background-image: url("../images/floral_banner3.png");
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 200px;
}

.hero h1 {
    font-size: 50px;
    text-align: center;
    color: #FAF5F0;
    padding-top: 100px;
}

/* Styling the Bio section */
.bio {
    border-bottom: 2px solid #C8D5B9;
    margin: 40px;
    padding: 20px;
}

.bio h1 {
    font-size: 5vw;
}

.bio-content {
    display: flex;
}

.bio-content img {
    max-width: 100%;
}

.bio-content p {
    margin: 30px;
    font-size: 18px;
    line-height: 2;
}

/* Styling the Projects section */
.projectsection {
    border-bottom: 2px solid #C8D5B9;
    margin: 40px;
    padding-bottom: 25px;
}

.projectsection h1 {
    font-size: 5vw;
    padding: 20px;
}

.projectsection h2 {
    color: #6A7152;
    font-size: 3.5vw;
}

.projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.projects img:hover {
    filter: blur(4px);
}

.mainproject div {
    justify-content: center;
}

.mainproject h2 {
    text-align: center;
}

.mainproject img {
    width: 100%;
    border: 2px solid #FBF0DA;
    margin-bottom: 50px;
    margin-top: 20px;
}

.otherprojects {
    display: flex;
    min-height: 0;
    flex-wrap: nowrap;
}

.otherprojects div {
    width: 100%;
    text-align: center;
}

.coderefactor img {
    width: 90%;
    border: 2px solid #C8D5B9;
    min-height: 0;
    margin: 25px;
    max-height: 275px;
}

.pirateprep img {
    width: 90%;
    border: 2px solid #C8D5B9;
    min-height: 0;
    margin: 25px;
    max-height: 275px;
}

/* Styling the Resume section */
.resume {
    border-bottom: 2px solid #C8D5B9;
    margin: 40px;
    padding-bottom: 25px;
    padding-right: 30px;
}

.resume h1 {
    font-size: 5vw;
    padding: 20px;
}

/* Styling the Resume section */
.resume-img {
    justify-content: center;
    display: flex;
}

.resume img {
    max-width: 70%;
    min-width: 0;
    margin: 25px;
}

/* Styling the Contact section */
.contact {
    border-bottom: 2px solid #C8D5B9;
    margin: 40px;
    padding-bottom: 25px;
    padding-right: 30px;
}

.contact p {
    text-align: center;
    line-height: 2;
}

.contact h2 {
    text-align: center;
    line-height: 2;
}

.contact h1 {
    font-size: 5vw;
    padding: 20px;
}

.contact-info {
    display: flex;
    justify-content: center;
}

.contact a {
    color: #6A7152;
}

.homebutton {
    padding: 25px;
}

/* Styling the footer */
footer {
    background-color: #FAF5F0;
    display: flex;
    justify-content: space-between
}

footer nav {
    margin: 10px;
    justify-content: flex-end; 
}

footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

footer nav ul li a {
    margin: 0 25px;
    font-size: 2vw;
}

footer h1 {
    color: #9C89B8;
}

footer a {
    text-decoration: none;
    font-weight: bold;
}

footer nav ul li {
    display: inline;
}

.homebutton {
    justify-content: flex-start;
}

.homebutton a {
    font-family: 'Shrikhand', cursive;
    font-size: 40px;
    color: #D6AEBA;
}